**/.metadata/

Debug/
*/Debug/
firmware/robot_firmware/STM32CubeIDE/Debug/

*.o
*.d
*.su
*.map
*.elf
*.bin
*.hex
*.a
*.lib
*.log
*.dep
*.lst
*.suo
*.ilk
*.pdb

software/server/node_modules/

software/ros2_ws/install/
software/ros2_ws/build/
software/ros2_ws/log/

.vscode/settings.json
