<?xml version="1.0"?>
<robot name="robot" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- includes -->
  <xacro:include filename=package://robot_description/urdf/materials.xacro"/>
  <xacro:include filename=package://robot_description/urdf/robot_description.trans"/>
  <!-- <xacro:include filename=package://robot_description/urdf/robot_description.gazebo"/>  -->

  <!-- parameters -->
  <xacro:property name="wheel_sep" value="0.210"/>
  <xacro:property name="wheel_rad" value="0.07625"/>

  <xacro:macro name="diffbot" params="prefix">

    <!-- base -->
    <link name="${prefix}base_link"/>

    <!-- left wheel -->
    <link name="${prefix}left_wheel_link">
      <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.55"/><inertia ixx="2e-4" iyy="4e-4" izz="2e-4"/></inertial>
      <visual><geometry><mesh filename="package://robot_description/meshes/Roue_g.stl" scale="0.001 0.001 0.001"/></geometry><material name="robot_silver"/></visual>
      <collision><geometry><mesh filename="package://robot_description/meshes/Roue_g.stl" scale="0.001 0.001 0.001"/></geometry></collision>
    </link>

    <!-- right wheel -->
    <link name="${prefix}right_wheel_link">
      <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.55"/><inertia ixx="2e-4" iyy="4e-4" izz="2e-4"/></inertial>
      <visual><geometry><mesh filename="package://robot_description/meshes/Roue_d.stl" scale="0.001 0.001 0.001"/></geometry><material name="robot_silver"/></visual>
      <collision><geometry><mesh filename="package://robot_description/meshes/Roue_d.stl" scale="0.001 0.001 0.001"/></geometry></collision>
    </link>

    <!-- lidar -->
    <link name="${prefix}lidar_link">
      <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.66"/><inertia ixx="2e-4" iyy="2e-4" izz="3e-4"/></inertial>
      <visual><geometry><mesh filename="package://robot_description/meshes/Lidar.stl" scale="0.001 0.001 0.001"/></geometry><material name="robot_silver"/></visual>
      <collision><geometry><mesh filename="package://robot_description/meshes/Lidar.stl" scale="0.001 0.001 0.001"/></geometry></collision>
    </link>

    <!-- realsense -->
    <link name="${prefix}realsense_link">
      <inertial><origin xyz="0 0 0" rpy="0 0 0"/><mass value="0.046"/><inertia ixx="2.8e-5" iyy="4e-6" izz="2.8e-5"/></inertial>
      <visual><geometry><mesh filename="package://robot_description/meshes/realsense.stl" scale="0.001 0.001 0.001"/></geometry><material name="robot_silver"/></visual>
      <collision><geometry><mesh filename="package://robot_description/meshes/realsense.stl" scale="0.001 0.001 0.001"/></geometry></collision>
    </link>

    <!-- joints  -->
    <joint name="${prefix}left_wheel_joint" type="continuous">
      <origin xyz="0  ${wheel_sep/2} 0.0422" rpy="0 0 0"/>
      <parent link="${prefix}base_link"/>
      <child  link="${prefix}left_wheel_link"/>
      <axis xyz="0 1 0"/>
    </joint>

    <joint name="${prefix}right_wheel_joint" type="continuous">
      <origin xyz="0 -${wheel_sep/2} 0.0422" rpy="0 0 0"/>
      <parent link="${prefix}base_link"/>
      <child  link="${prefix}right_wheel_link"/>
      <axis xyz="0 1 0"/>
    </joint>

    <joint name="${prefix}lidar_fixed" type="fixed">
      <origin xyz="-0.01 0 0.3692" rpy="0 0 0"/>
      <parent link="${prefix}base_link"/>
      <child  link="${prefix}lidar_link"/>
    </joint>

    <joint name="${prefix}realsense_fixed" type="fixed">
      <origin xyz="0.051175 0.005 0.303446" rpy="0 0 0"/>
      <parent link="${prefix}base_link"/>
      <child  link="${prefix}realsense_link"/>
    </joint>

  </xacro:macro>

  <!-- instantiate macro without prefix -->
  <diffbot prefix=""/>

</robot>